---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <Hero />
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Full Stack web solutions</h2>
    <p class="text-2xl">
      Take the guesswork out of getting a website. I handle everything from domains and hosting to deployment and optimization.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>Front End web solutions</h2>
    <p class="text-2xl">
      I build with semantic HTML to provide meaningful structure for browsers and assistive technologies. This includes landmarks, skip links, screen reader-friendly content, ARIA labels, and keyboard-accessible navigation and components.
    </p>
  </ContentMedia>
</DefaultLayout>
<section class="my-64">
  <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
    <div class="flex flex-col items-start gap-4">
      <h2 class="text-6xl">FAQ</h2>
      <p class="text-2xl">
        Maybe you have some questions for me, maybe I've guessed what they are have answered them here.
      </p>
      <p class="text-2xl">
        Other questions?<br />Make an appointment to chat at https://cal.com/z-thedev. me directly at
        <a href="mailto:faq@z-thedev.com">faq@z-thedev.com</a>
      </p>
    </div>
    <div class="space-content">
      <Accordion>
        <AccordionItem name="exclusive" title="Why am z-theDev?" open>
          <p>
            To start, my name is Z, yes just the letter and I'm your dev. I can help you decide what you need in a
            website, whether that's me, Squarespace, or your friendly neighborhood AI, I'll guide you through every step
            of creating the website that perfectly fits your needs.
          </p>
        </AccordionItem>
        <AccordionItem name="exclusive" title="How do I hire you to make my website">
          <p>
            To hire me, please reach out via the contact form on my website or email me directly at
            <a href="mailto:faq@z-thedev.com">faq@z-thedev.com</a> and provide details about your project, including your
            requirements, timeline, and budget. I'll get back to you as soon as possible to discuss further. I look forward
            to hearing from you!
          </p>
        </AccordionItem>
        <AccordionItem name="exclusive" title="I have a domain name, now what?">
          <p>
            Now you need somewhere to host your website, think of this as a little space on the internet that you rent.
            Next is building your site which can be done with AI but will set you back financially in the long run.
            After all, you should be able to get your rental on the internet for much cheaper than 16 USD as of the time
            of writing.By providing you with the website and the rental for your space on the internet, I am able to
            keep costs reasonable.
          </p>
        </AccordionItem>
        <AccordionItem name="exclusive" title="How do I make my website accessible?">
          <p>
            To make your website accessible, follow these key principles: use semantic HTML, provide text alternatives
            for non-text content, ensure keyboard navigation, maintain a logical heading structure, use ARIA roles and
            properties when necessary, and ensure sufficient color contrast. Regularly test with screen readers and
            keyboard navigation to ensure a smooth experience for all users.
            <br />
            TLDR
            <blockquote>
              Hire someone who knows this technobabble and forget about it. Or you can hire me and I will translate the
              technobabble for you, keeping you educated about your website but also saving you from the headache of
              dealing with it.
            </blockquote>
          </p>
        </AccordionItem>
      </Accordion>
    </div>
  </div>
</section>
<section class="my-64">
  <div class="container">
    <h2 class="mb-16 text-6xl">Projects</h2>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
      <Feature icon="mdi:tailwind" title="Tailwind CSS">
        Use the power of Tailwind to greatly improve your productivity and enhance your developer workflow.
      </Feature>
      <Feature icon="mdi:wheelchair-accessibility" title="a11y Components">
        17 components and counting, all tried and tested for the most optimal accessible experience for your visitors.
      </Feature>
      <Feature icon="mdi:looks" title="Prettier">
        Less worry about formatting your code, let the Astro Prettier integration do the heavy lifting.
      </Feature>
      <Feature icon="mdi:eslint" title="ESLint">
        Lint your code with strict a11y settings to ensure you stay on track with the WCAG standards.
      </Feature>
      <Feature icon="mdi:book-open-page-variant" title="Blog">
        This theme comes with a fully integrated blog, dynamic pages and SEO optimization.
      </Feature>
      <Feature icon="mdi:language-markdown" title="Markdown & MDX">
        Easily use .md and .mdx pages to build your websites or use it with Netlify CMS.
      </Feature>
      <Feature icon="mdi:theme-light-dark" title="Dark mode">
        Fully integrated Dark mode gives your users the choice for their favorite viewing mode.
      </Feature>
      <Feature icon="mdi:cog" title="Design System">
        The theme offers some very handy utilities to help you build your website faster.
      </Feature>
      <Feature icon="mdi:lighthouse" title="Lighthouse Scores">
        Excellent lighthouse scores means your website will load faster and get better SEO rankings.
      </Feature>
    </div>
  </div>
</section>
