---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} 
        <br /><a
          href="https://github.com/zothsu">Z Sullivan</a
        >.
      </p>
    </div>
  </section>
</footer>
