---
import Navigation from '../components/Navigation.astro'
import { SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/portfolio/">Portfolio</a>
    </li>
    <a href="/blog">Blog</a>
    <li class="menu-item type-icon">
      <a href="https://github.com/zothsu/z-theDev" title="Go to Z's GitHub page">
        <Icon name="ion:logo-github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        margin-top: -4px;
        width: 30px;
        height: auto;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
